div.navbar{
    height: 5rem;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    background-color: #303134;
}

.username{
    text-align: right;
    margin: 0;
}

.userPhoto{
    margin: .5rem 3rem 0rem 3rem;
    border-radius: 100%;
    height: 4rem;
}

.usernameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightColumn{
    padding-right: 1rem;
    display: flex;
    justify-content: right;
}

.logo{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    border-radius: .8rem;
    margin-left: 3rem;
    width: 7rem;
    background-color: #50C878;
}

.leftColumn{
    display: flex;
    justify-content: left;
    align-items: center;
}