.container{
    margin-top: 5rem;
    border-width: 1rem;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    height: min-content;
    /*6.2 to account for vertical scroll 5rem for padding + 1.2 for scroll bar*/
    width: 100vw;
}
.cardImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cardImage{
    overflow: hidden;
    padding: 2rem 2rem 0rem 2rem;
    height: 100%;
}
.card{
    padding: 0rem;
    margin: 1rem;
    background-color: #303134;
    width: calc(50vw - 7rem);
    min-width: 20rem;
    height: fit-content;
}
.cardTitle{
    color: white;
    margin-top: 1rem;
    padding: 0;
    width: fit-content;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cardViewButton{
    min-width: fit-content;
    float: right;
    margin: .5rem 2rem 0rem 2rem;
    height: 3rem;
    width: calc(50vw - 11rem);
    margin-bottom: 2rem;
    border-width: .4rem;
    background-color: #50C878;
    border-color: #50C878;
    border-radius: 1rem;
}

.cardViewButtonReadMore{
    color: black;
    font-weight: bold;
    margin: 0;
}
