@value main-height: calc(100vh - 48px - 32px - 7vw - 96px - 36px);

.contact{
    color: black;
    font-size: 3vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.contactForm,
.contactFormButton{
    width: 30vw;
    background-color: transparent;
    border-color: rgba(95, 242, 255, 0.6);
    height: 2vw;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    border-width: .4rem;
    min-height: 3rem;
    font-weight: 600;
    color: black;
    padding-left: 1rem;
    border-style: solid;
    border-radius: 0.3rem;
    margin: 1rem;
}

.contactFormButton{
    padding-left: 0rem;
}

.contactFormButton:active{
    background-color: rgba(95, 242, 255, 0.6);
    border-style: solid;

}
.contactForms{
    display: inline-block;
}

.contactForms > form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactMain{
    overflow-x: hidden;
    height: main-height;
    margin-bottom: 9rem;
}

@media (orientation: portrait) {
    .contactForm,
    .contactFormButton{
        margin-left: 5vw;
        margin-right: 5vw;
        width: calc(100vw - 64px - 32px - 152px - 5rem);
    }

}