:root{
  --bg-color: #12181B;
  --bg: linear-gradient(45deg, rgba(0,36,4,1) 0%, rgba(9,121,33,1) 47%, rgba(2,138,26,1) 73%, rgba(3,198,33,1) 93%, rgba(0,255,38,1) 100%);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html{
  background: var(--bg-color) fixed;
}