/* .introName{
    color: rgb(1, 37, 33);
    margin-left: 6rem;
    font-size: 7.65vw;
    width: 44vw;
}

.intro{
    display: inline-flex;
    overflow: visible;
    grid-template-columns: 30% 70%;
} */

.introName {
  color: #002721;
  margin-left: 0rem !important;
  font-size: 7vw;
  width: 100vw;
  text-align: center;
  margin: 0rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.intro {
  display: flex;
  justify-content: center;
}
.intro {
  display: block;
  overflow: visible;
  grid-template-columns: 30% 70%;
}
.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72vh;
}
.tabsContainer {
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
}

.tabs {
  width: fit-content;
  overflow: hidden;
}

.thumbnails {
  width: 100%;
  height: 77vh;
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  justify-content: end;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 5rem;
  margin-bottom: 2rem;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}

.tabs > p {
  width: 100%;
  text-wrap: nowrap;
  font-weight: 100;
  font-size: 2rem;
  transition: all 0.7s ease-in-out;
}

.tabs > p:hover {
  color: grey;
  cursor: pointer;
}

.allPages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 77vh;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
  scroll-behavior: smooth !important;
}

.allPagesInner {
  transition: all 0.7s ease-in-out;
}

.second {
  transform: translateY(-77em);
}

.third {
  transform: translateY(-140rem);
}
.fourth {
  transform: translateY(-204rem);
}
.final {
  transform: translateY(-264rem);
}

.dot {
  transition: all 0.7s ease-in-out;
  transform: translateX(-90%);
}

.dot::after {
  margin-left: 2rem;
  content: "•";
}

.project {
  height: 60vh;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 40% 10% 50%;
}

.tldr {
}

.imageContainer {
  aspect-ratio: 1 / 1;
  width: 30vw;
  height: 30vw;
  position: relative;
}

.imageContainerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.about {
  /* background-color: pink; */
  background-image: url("/paper.jpg");
  height: 64vh;
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 1rem;
  border: solid black 0.2rem;
}

.headshot {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.headshotContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.left {
  padding-left: 1rem;
}

.right {
  padding-right: 1rem;
}

.githubLink {
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 0.5rem;
}

.demoLink {
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  width: fit-content;
  height: fit-content;
  width: 100%;
}

.icon {
  margin-left: 0.2rem;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: end;
}

.introModelContainer {
  margin-bottom: 20rem;
}

@media only screen and (max-width: 1340px) {
  .about {
    /* background-color: pink; */
    background-image: url("/paper.jpg");
    height: 66vh;
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    border: solid black 0.2rem;
    overflow-y: scroll;
  }
  .headshot{
    margin: 1rem;
  }
}
