@value main-height: calc(100lvh - 48px - 32px - 7vw - 16px);

/* .introName{
    color: rgb(1, 37, 33);
    margin-left: 6rem;
    font-size: 7.65vw;
    width: 44vw;
}

.intro{
    display: inline-flex;
    overflow: visible;
    grid-template-columns: 30% 70%;
} */

.introName {
  color: #002721;
  margin-left: 0rem !important;
  font-size: 7vw;
  width: 100vw;
  text-align: center;
  margin: 0rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 7vw;
}
.intro {
  display: flex;
  justify-content: center;
}
.intro {
  display: block;
  overflow: visible;
  grid-template-columns: 30% 70%;
  height: 100%;
}
.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: main-height;
}
.tabsContainer {
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  margin-right: 2rem;
}

.tabs {
  width: fit-content;
  overflow: hidden;
}

.thumbnails {
  width: 100%;
  height: calc(main-height + 3lvh);
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  justify-content: end;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 1rem;
  /* margin-bottom: 2rem; */
  position: relative;
  padding-bottom: 6rem;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}

.tabs > p {
  width: 100%;
  text-wrap: nowrap;
  font-weight: 100;
  font-size: 2rem;
  transition: all 0.7s ease-in-out;
}

.tabs > p:hover {
  color: grey;
  cursor: pointer;
}

.allPages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
  scroll-behavior: smooth !important;
}

.allPagesInner {
  transition: all 0.7s ease-in-out;
}

.second {
  transform: translateY(calc(-1 * (main-height + 20rem)));
}

.third {
  transform: translateY(calc(-1 * (2 * main-height + 20rem + 4lvh)));
}
.fourth {
  transform: translateY(calc(-1 * (3 * main-height + 20rem + 2.5rem)));
}
.final {
  transform: translateY(calc(-1 * (4 * main-height + 20rem + 2rem + 7rem - 5rem)));
}

.dot {
  transition: all 0.7s ease-in-out;
  transform: translateX(-90%);
}

.dot::after {
  margin-left: 2rem;
  content: "•";
}

.project {
  height: calc(main-height - 5.5rem);
  overflow: auto;
  margin: 2%;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 40% 10% 50%;
}

.tldr {
    font-weight: 300;
    max-height: calc(main-height - 5.5rem - 10rem);
    overflow: auto;
}

.projectTitle{
  line-height: 2rem;
}

.imageContainer {
  aspect-ratio: 1 / 1;
  width: 30vw;
  height: 30vw;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  border: #00484c 0.5rem solid;
}

.imageContainerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.about {
  /* background-color: pink; */
  background-image: url("/paper.jpg");
  height: calc(main-height - 5rem);
  width: 96%;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 1rem;
  border: solid black 0.2rem;
  overflow-y: auto;
}

.headshot {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.headshotContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.left {
  padding-left: 1rem;
}

.right {
  padding-right: 1rem;
}

.githubLink {
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 0.5rem;
}

.demoLink {
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  width: fit-content;
  height: fit-content;
  width: 100%;
}

.icon {
  margin-left: 0.2rem;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: end;
}

.introModelContainer {
  margin-bottom: 20rem;
  height: main-height;
}

@media only screen and (max-width: 1340px) {
  .about {
    /* background-color: pink; */
    background-image: url("/paper.jpg");
    height: calc(main-height - 5rem);
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    border: solid black 0.2rem;
    overflow-y: scroll;
  }
  .headshot {
    margin: 1rem;
  }
}

.topBlock{
    /* background-color: white; */
    position: absolute;
    height: 10rem;
    width: 100%;
    z-index: 1;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    bottom: -0rem;
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

}

.thumbnailsContainer{
    position: relative;
}

@media (orientation: portrait) {
  .tabsContainer {
    margin: 0;
  }


  .block{
    flex-direction: column;
  }

  .tabs{
    width: 100%;
    display: flex;
    height: 4rem;
    text-align: center;
    z-index: 5;
  }

  .tabs > p{
    font-size: 1.3rem;
  }

  .dot {
    transition: all 0.7s ease-in-out;
    transform: rotate(-90deg) translateX(-1.2rem);
  }

  .dot{
    font-size: 0rem !important;
  }
  
  .dot::after {
    margin-left: 2rem;
    font-size: 1.3rem;
    content: "•";
  }
}