.main{
    background: var(--bg-color) fixed;
}

.loadMoreButton{
    background-color: #697d62;
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
    border: none;
    margin: 2rem;
    padding: 1rem;
    border: 0.1rem black solid;
    border-radius: 1rem;
}

.container{
    display: flex;
    justify-content: center;
}

.noMorePosts{
    margin: 0;
    color: black;
    font-size: 2vw;
}